<nav class="navbar navbar-expand-lg" aria-label="Eighth navbar example">
  <div class="container">
      <a href="../page/index.html" class="navbar-brand fw-bold">
      SINOLINO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarinstance" aria-controls="navbarinstance" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarinstance">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {elements}
      </ul>
    </div>
  </div>
</nav>